<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Mini Projeto - Ionic
      Grupo 04
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Projeto Hello World</h1>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="cartao"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Função Hello World</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button color="primary" (click)="clique()">Botão Hello</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="primary">Função Nova Palavra</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input placeholder="Enter Input" [(ngModel)]="inputValue"></ion-input>
      <ion-button color="primary" (click)="newWord()">Nova Palavra</ion-button>
    </ion-card-content>
  </ion-card>

  <div class="cartao"></div>

  <ion-button expand="block" color="tertiary" (click)="equipe()">Grupo 04</ion-button>

  
</ion-content>
